---
import DefaultLayout from "../../layouts/DefaultLayout.astro";

export async function getStaticPaths() {
  const endpoint = "https://sprucehealthgroup.com/wp-json/wp/v2/posts?_embed";

  const data = await fetch(endpoint).then((response) => response.json());

  return data.map((post) => {
    return {
      params: { slug: post.slug.toString() },
      props: { post },
    };
  });
}

const { post } = Astro.props;
---

<DefaultLayout title="Blog">
  <section class="margin-48">
    <div class="container">
      <h1>{post.title.rendered}</h1><br />
      <p>By: {post._embedded.author[0].name}</p>
    </div>
  </section>
  <section class="margin-48">
    <div class="container">
      <p class="size-20">{post.content.rendered}</p>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
