---
import DefaultLayout from "../layouts/DefaultLayout.astro";
// import { Card } from "accessible-astro-components";
import Card from "../components/Card.svelte";

const endpoint = "https://sprucehealthgroup.com/wp-json/wp/v2/posts?_embed";

const data = await fetch(endpoint).then((res) => res.json());
---

<DefaultLayout title="Blog">
  <section class="margin-48">
    <div class="container">
      <h1>Blog</h1><br />
      <p class="size-18">
        An example of a blog with dynamic content fetched from <a
          href="https://jsonplaceholder.typicode.com/posts">JSONPlaceholder</a
        > using the title, body and userId. The <a
          href="https://components.accessible-astro.dev/card"
          >Accessible Astro Card Component</a
        > is used here to display al the posts.
      </p>
    </div>
  </section>
  <section class="margin-48">
    <div class="container">
      <ul>
        {
          data.map((post) => (
            <li>
              <Card
                href={"/posts/" + post.slug}
                src={post._embedded["wp:featuredmedia"][0].source_url}
                title={post.title.rendered}
                author={post._embedded.author[0].name}
              />
            </li>
            // <li>
            //   <Card
            //     url={"/posts/" + post.slug}
            //     img={post._embedded["wp:featuredmedia"][0].source_url}
            //     title={post.title.rendered}
            //     footer={"Author: " + post._embedded.author[0].name}
            //   >
            //     {post.body}
            //   </Card>
            // </li>
          ))
        }
      </ul>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
